################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MedConsult/.vs/MedConsult/v15/Server/sqlite3
